.ronny {
    /*overflow: hidden;*/
    max-height: 600px;
    display: grid;
    grid-auto-columns: minmax(10%, 49%) minmax(10%, 49%);
    grid-template-areas: 'img description';
    position: relative;
}